# Ignore environment variable files
.env

# Ignore virtual environment directory
.venv/

# Python compiled files
__pycache__/
*.py[cod]

# Ignore VSCode settings folder
.vscode/

# Ignore the file containing the mails processed
processed_emails.txt